server:
  port: 9000

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}
        namespace: ${NACOS_NAMESPACE:public}
        group: ${NACOS_GROUP:DEFAULT_GROUP}
        username: ${NACOS_USERNAME:nacos}
        password: ${NACOS_PASSWORD:nacos}
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # 路由1：emr-route
        - id: emr-route  # 路由ID
          uri: lb://emr-service  # 目标服务（负载均衡+Nacos服务名）
          predicates: # 断言（对应 Java 代码的 path("/emr/**")）
            - Path=/emr/**  # 路径断言：匹配 /emr/ 开头的请求
          filters: # 过滤器（对应 Java 代码的 stripPrefix(1)）
            - StripPrefix=1  # 去掉路径第1级前缀（注意：配置文件中是 StripPrefix=1，不是 stripPrefix(1)）
#      httpclient:
#        connect-timeout: 5000
#        response-timeout: 10s
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    root: info
    org.springframework.cloud.gateway: info
    com.edu.neu.gateway: debug


